body {
  padding: 0px;
  font-family: sans-serif;

  overflow: hidden;
}


#reactTarget {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

a{
  text-decoration: 'none'
}

.vis-timeline {
  border: 0px white !important;
}
.vis-inner {
  font-size: 60% !important;
}

/* https://stackoverflow.com/questions/53290178/cordova-iphone-x-safe-area-after-layout-orientation-changes */

body {
  margin-top: constant(safe-area-inset-top, 0px); /* iOS 11.0 */
  margin-top: env(safe-area-inset-top, 0px); /* iOS 11.2 */
}
.footerNavContainer {
  margin-bottom: constant(safe-area-inset-bottom, 0px); /* iOS 11.0 */
  margin-bottom: env(safe-area-inset-bottom, 0px); /* iOS 11.2 */
}