body {
  padding: 0px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  overflow: hidden;
  background: black;
  background-color: black !important;

  letter-spacing: 0.01071em;
  line-height: 1.43;
  font-size: 0.875rem;
}


#reactCanvas {
  position: absolute;
  top: 0px;
  bottom: -50px;  
  left: 0px;
  right: 0px;
  overflow: auto;
  background: #f2f2f2;
  margin-top: 0px;
}

a{
  text-decoration: 'none'
}

.vis-timeline {
  border: 0px white !important;
}
.vis-inner {
  font-size: 60% !important;
}

/* https://stackoverflow.com/questions/53290178/cordova-iphone-x-safe-area-after-layout-orientation-changes */

body {
  margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */

  margin-top: constant(safe-area-inset-top); /* iOS 11.0 */
  margin-top: env(safe-area-inset-top); /* iOS 11.2 */

  margin-left: constant(safe-area-inset-left, 0px); /* iOS 11.0 */
  margin-left: env(safe-area-inset-left, 0px); /* iOS 11.2 */

  margin-right: constant(safe-area-inset-right, 0px); /* iOS 11.0 */
  margin-right: env(safe-area-inset-right, 0px); /* iOS 11.2 */
}
footer {
  margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */

  margin-top: constant(safe-area-inset-top); /* iOS 11.0 */
  margin-top: env(safe-area-inset-top); /* iOS 11.2 */

  margin-left: constant(safe-area-inset-left, 0px); /* iOS 11.0 */
  margin-left: env(safe-area-inset-left, 0px); /* iOS 11.2 */

  margin-right: constant(safe-area-inset-right, 0px); /* iOS 11.0 */
  margin-right: env(safe-area-inset-right, 0px); /* iOS 11.2 */
}