body {
  padding: 10px;
  font-family: sans-serif;

  overflow: hidden;

  padding-top: constant(safe-area-inset-top, 0px); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top, 0px); /* iOS 11.2 */
}


#reactTarget {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

a{
  text-decoration: 'none'
}

.vis-timeline {
  border: 0px white !important;
}
.vis-inner {
  font-size: 60% !important;
}

.footerNavContainer {
  margin-bottom: constant(safe-area-inset-bottom, 0px); /* iOS 11.0 */
  margin-bottom: env(safe-area-inset-bottom, 0px); /* iOS 11.2 */
}