.DS_Store
node_modules

version.desktop

.desktop
.desktop-installer
.desktop-installer/*

resources/*

chromedriver.log

configs/settings.galaxy.json
mobile-config.js


certs/*
public/.well-known/*.pem
public/.well-known/*.jwks.json
private/*.pem
private/*.jwks.json